body {
      font-family:"Helvetica";

}

.maininputs {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    border: 5px outset blue;
}
.gray {
    background-color: #cccccc;
}

.green {
    background-color: #33cc33;
}

.yellow {
    background-color: #ffff00;
}

.red {
    background-color: #FF0000
}

input {
    width:50%;
}

p3 {
    font-family:"Ahanori", "Courier New", "Arial";
    font-size: 80px;
    letter-spacing:40px;
}

button {
    padding: 10px 30px;
    font-size: 28px;
    margin:16px 16px;
}
